@import "../../scss/index.scss";

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
    
    iframe{
        margin: 80px 0;
        width:28vw;
        height:60vh; 
        
    }

    &__info{
        height:60vh; 
        background-color: $brown-dark;
        margin: 10px;
        border: 1px solid $yellow-light;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 3em;
            text-align: center;
            font-weight: 600;
           margin-bottom: 40px;
        }

        p{
            margin: 0 30px;
            font-size: 1.2em;  
        }


    }

        &__medios{
            margin-top: 40px;

            a{
                margin: 0 20px;
                font-size: 4em;
                color: $yellow-light;
                transition: all ease-in-out .5s;
            }

            a:hover{
                color: #ffffff;
            }
        }
}