
.signIn {
    
    
    &__center {
        background-image: linear-gradient(to right, #2c2f2ff1 0%, #191b1cf4 100%);
        border-radius: 10px;

        img{
            width: 11vw ;
        }
    }
}