@import "../../../scss/index.scss";

.basic-modal{
    
    .modal-content {
      
        background-color: $grey-dark;
        border-radius: 25px;
        width: 50vw;
    
        .modal-header {
          padding: 0px;
          border-bottom: 1px solid $grey-light;
          .modal-title {
            margin: 0 auto;
            img {
              margin: 0.5vw 0;
              width: 6vw;
            }
          }
        }
        .modal-body {
          padding: 20px 40px 40px 40px;
        }
      }

}