body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(90deg, #191919f3 0%, #191919f3 100%), url(./assets/jpg/fondo.jpg);
  //background-color: rgb(41, 39, 37) !important;

}


